@model DigitalHealth.Web.EntitiesDto.MethodOfTreatmentListDto

@{
    ViewBag.Title = "Index";
}
<div id="loading">
    <h3 style="color:white">Loading. Please wait...</h3>
</div>
<div id="DeleteDialog" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div id="dialogContent" class="modal-dialog" role="document">

                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"><b>Confirm delete</b></h3>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="Cancel" onclick="Cancel()">Close</button>
                    <button type="button" class="btn btn-primary" id="DeleteConfirm" itemid="" onclick="DeleteConfirm(itemid)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CreateDialog" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><b>Create new item</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Select Disease</label>
                        <select id="create-disease" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title</label>
                        <input type="text" class="form-control" id="create-title">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Source</label>
                        <input type="text" class="form-control" id="create-source">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description</label>
                        <textarea class="form-control" id="create-description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cancel()">Close</button>
                <button type="button" class="btn btn-primary" onclick="CreateItem()">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="EditDialog" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><b>Update item</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="edit-id" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Select Disease</label>
                        <select id="edit-disease" class="form-control">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title</label>
                        <input type="text" class="form-control" id="edit-title">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Source</label>
                        <input type="text" class="form-control" id="edit-source">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description</label>
                        <textarea class="form-control" id="edit-description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cancel()">Close</button>
                <button type="button" class="btn btn-primary" onclick="Update()">Update</button>
            </div>
        </div>
    </div>
</div>

<div id="DetailsDialog" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><b>Details item</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="details-id" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Disease</label>
                        <input type="text" class="form-control" id="details-disease" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Title</label>
                        <input type="text" class="form-control" id="details-title" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Source</label>
                        <input type="text" class="form-control" id="details-source" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description</label>
                        <textarea class="form-control" id="details-description" readonly="readonly"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Cancel()">Close</button>
            </div>
        </div>
    </div>
</div>


<h2>Список методов лечения</h2>

<button type="button" class="btn btn-primary" onclick="ShowCreate()">Создать новый элемент</button>
<br />
<br />
<br />
<table class="table table-hover table-bordered">
    <tr>
        <th>
            Название
        </th>
        <th>
            Источник
        </th>
        <th>
            Описание
        </th>
        <th width="250px"></th>
    </tr>

    @foreach (var item in Model.MethodOfTreatmentDtos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseName)
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm item" id="@item.Id" onclick="Details(id)">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Детали
                </button>
                <button type="button" class="btn btn-default btn-sm" id="@item.Id" onclick="ShowEdit(id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Изменить
                </button>
                <button type="button" class="btn btn-default btn-sm item" id="@item.Id" onclick="Delete(id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить
                </button>
            </td>
        </tr>
    }

</table>
<br />
<hr />
@if (Model.Page > 1)
{
    <button type="button" class="btn btn-success" onclick="PreviousPage(@Model.Page)" id="PreviousPage">Предыдущая страница</button>
}
Страница: @Model.Page из @Model.PageCount
@if (Model.PageCount > Model.Page)
{
    <button type="button" class="btn btn-success" onclick="NextPage(@Model.Page)">Следующая страница</button>
}
<style>
    #loading {
        background: no-repeat center center rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999999;
    }

    .hide {
        display: none;
    }
</style>
@section scripts
{
    <script src="~/Scripts/View/MethodOfTreatment.js"></script>
}